<% include partials/header %>

<link rel="stylesheet" href="/stylesheets/landing.css">

<div id="banner" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#banner" data-slide-to="0" class="active"></li>
		<li data-target="#banner" data-slide-to="1"></li>
		<li data-target="#banner" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">
		<div class="item active"><img src="photo/index.jpg"></div>
		<div class="item"><img src="photo/index2.jpg"></div>
		<div class="item"><img src="photo/index3.jpg"></div>
	</div>

	<a class="left carousel-control" href="#banner" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#banner" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div style="padding: 0;" class="col-md-12">
	<img src="photo/index4.png">
</div>

<div class="col-md-12">
	<a class="btn" href="/orderInfo/new">開始訂購</a>
</div>

<!--首頁動畫-->
<script src="https://code.jquery.com/jquery-git2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<% include partials/footer %>